h1 {
	font-size: 36px;
	font-weight: 400;
	background: url(../images/title.png) bottom center no-repeat;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
h6 {
	font-size: 16px;
	font-weight: 400;
	color: #7b7b87;
	margin-bottom: 20px;
}
.head-top {
	background: #207aaf;
	min-height: 56px;
}
.head-bottom {
	background: #FFF;
	padding: 40px 0;
}
.logo { 
	font-size:36px;
	font-weight:600;
	color:#207aaf;
	text-decoration:none;
	line-height:24px;
}
.head-top .phone {
	float: left;
	color: #FFF;
	margin: 10px 30px 10px 0;
	line-height: 36px;
	background: url(../images/cell-phone.png) 0 6px no-repeat;
	padding-left: 28px;
}
.head-top .email {
	float: left;
	color: #FFF;
	margin: 10px 30px 10px 0;
	line-height: 36px;
	background: url(../images/email.png) 0 6px no-repeat;
	padding-left: 30px;
}
.head-top .location {
	float: left;
	color: #FFF;
	margin: 10px 0;
	line-height: 36px;
	background: url(../images/location.png) 0 6px no-repeat;
	padding-left: 28px;
}
.head-top ul.social-media {
	float: right;
	margin: 10px 0;
	width: auto;
}
.navbar { 
	padding:0 !important;
}
.navbar-light .navbar-nav .nav-link { 
	color:#207aaf;
	font-size:18px;
	font-weight:600;
	padding-right: .88rem;
	padding-left: .88rem;
}
ul.navbar-nav li:last-child a { 
	padding-right:0 !important;
}
.home-banner img{width:100%}
.welcome-fluid {
	padding: 60px 0 0 0;
}
.form-box {
	padding: 40px 40px 0 40px;
	background: #cce2f9;
	border-radius: 6px;
	margin-top: 30px;
}
.form-box .text-box {
	font-size: 18px;
	padding: 0 15px;
	border-radius: 6px;
	border: 1px solid #d5d6db;
	line-height: 60px;
	min-height:60px;
	width: 100%;
	margin-bottom: 40px;
}
.form-box .text-area {
	font-size: 18px;
	padding: 10px 15px;
	border-radius: 6px;
	border: 1px solid #d5d6db;
	line-height: 24px;
	resize: none;
	min-height: 160px;
	width: 100%;
	margin-bottom: 40px;
}
.form-box .btn {
	font-size: 18px;
	padding: 0;
	border-radius: 6px;
	border: 0 none;
	background: #00134d;
	color: #FFF;
	text-align: center;
	font-weight: 600;
	line-height: 60px;
	width: 100%;
	margin-bottom: 40px;
}
.prepoly-pipes {
	padding: 60px 0;
}
.prepoly-pipes .subtitle {
	color: #7b7b87;
	font-size: 18px;
	font-weight: 600;
}
.prepoly-pipes .icon {
	min-height: 130px;
	position: relative;
	display: block;
}
.prepoly-pipes .icon img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.our-products {
	background: url(../images/home-banner.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 60px 0;
}
.our-products .product-item {
	position: relative;
	overflow: hidden;
	border: 1px solid #FFF;
}
.our-products .img-fluid {
	position: relative;
}
.our-products .subtitle {
	position: relative;
	color: #FFF;
	background: url(../images/box.png) 0 0 repeat;
	min-height: 45px;
	margin-top: -45px;
	padding: 12px 15px;
}
.our-products .read-more {
	position: absolute;
	bottom: 36px;
	right: 10px;
	background: url(../images/read-more.png) 0 0 no-repeat;
	width: 141px;
	color: #FFF;
	text-align: center;
	line-height: 36px;
	text-decoration: none;
	display: block;
}
.our-products .navigation {
	margin: 60px auto 0 auto;
	width: 102px;
	display: block;
}
.our-products .navigation a.next {
	float: right;
}
.our-products .navigation a.prev {
	float: left;
}
.map {
	display: block;
}
.map iframe {
	width: 100%;
	min-height: 380px;
}
.foot-top {
	background: #024f9f;
	padding: 60px 0;
}
.foot-bottom {
	background: #343434;
	padding: 20px 0;
}
.foot-top h2 {
	color: #FFF;
}
.foot-top p {
	color: #FFF;
	font-size: 18px;
	line-height: 30px;
}
.foot-top p span {
	font-weight: 600;
}
.foot-top ul.social {
	list-style: none;
	margin: 60px 0 0 0;
	padding: 0;
}
.foot-top ul.social li {
	margin: 0 10px 0 0;
	padding: 0;
	display: inline-block;
	float: left;
}
.foot-top ul.social li a {
	display: block;
}
.copyrights {
	color: #FFF;
}
ul.social-media {
	width: 200px;
	margin: 20px auto 0 auto;
	padding: 0;
}
ul.social-media li {
	float: left;
	list-style: none;
	display: block;
}
ul.social-media li a {
	float: left;
	width: 36px;
	height: 36px;
	border: 1px solid #FFF;
	text-align: center;
	margin-left: 10px;
	line-height: 32px;
	border-radius: 4px;
}

/*--blog page start --*/
div.intro-archives {
    border-bottom: solid 1px #eee;
    margin: 10px 0 20px;
    padding: 0 0 20px;
}
.intro h1{
       color:#207aaf;
    font-size: 41px;
    font-weight: 500;
}
div.category-excerpt p {
    font-size: 15px;
    line-height: 1.6em;
}
ul.posts-archive li {
    border-bottom: solid 1px #eee;
    padding-bottom: 35px;list-style:none;
}
div.post-thumb {
   padding:0px;
}
div.post-thumb p{font-size: 14px;    color: #ff0303;} 
div.post-excerpt {
    color: #666;
    font-size: 14px;
    line-height: 1.75em;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 0px;
}
div.post-excerpt h2{color:#207aaf!important!;text-decoration:none!important}

div.blog p {
    color: #666;
    font-size: 14px;
    font-family: Arial, Tahoma, sans-serif;padding:0px;
}
div.blog time {
    color: #c90935!important;
    font-size: 12px;margin-bottom:20px;
}
ul.posts-archive h2 {
    font-size: 30px;
    font-weight: bold;
    display: inline;
    line-height: 2.7em;color:#00134c!important
}
span.more {
    display: block;
    font-size: 12px;
    margin-top: 10px;
    text-transform: uppercase;
}

span.more a{color: #cf2626!important;font-size: 16px}
/*--blog  page end --*/
/*--inner-page area ends--*/
.inner-page{margin:40px 0px;width:100%;display:inline-block}
.inner-page img{width:100%;display:inline-block;margin-bottom:20px;}
.inner-page p{font-size: 16px; font-family: 'Roboto'; line-height: 28px; color: #555;}
.inner-page h3{font-size:30px;font-family: 'Roboto', sans-serif;    font-weight: bold;text-align:left;color:#207aaf}
.responsive-design{color:#13D3F3\9} 
.container {
    width: 1038px\9;
    margin: 0 auto\9
}
.col-md-3.col-xs-12 {
    width: 25%\9;
}
.col-md-9 {
    width: 75%\9;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative\9;
    min-height: 1px\9;
    padding-right: 15px\9;
    padding-left: 15px\9;
}
.service-landing-service-list ul {
    background: inherit\9
}
.service-landing-service-list ul li:before {
    display: none\9
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left\9;
}
.col-md-12 {
    width: 100%\9;
}
.col-md-11 {
    width: 91.66666667%\9;
}
.col-md-10 {
    width: 83.33333333%\9;
}
.col-md-9 {
    width: 75%\9;
}
.col-md-8 {
    width: 66.66666667%\9;
}
.col-md-7 {
    width: 58.33333333%\9;
}
.col-md-6 {
    width: 50%\9;
}
.col-md-5 {
    width: 41.66666667%\9;
}
.col-md-4 {
    width: 33.33333333%\9;
}
.col-md-3 {
    width: 25%\9;
}
.col-md-2 {
    width: 16.66666667%\9;
}
.col-md-1 {
    width: 8.33333333%\9;
}
.header-bottom ul li {
    padding: 0 7.2% 0 0\9;
}
.darkBluebg {
    background-color: #1B2026;
    display: inline-block;
    width: 100%
}
.enjoytheservise img {
    margin: 10px auto 40px;
}
.enjoytheservise h1 {
    text-align: center;
    margin: 0px 0 40px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 45px;
}
.enjoytheservise p {
    font-size: 16px;
    width: 88%;
    margin: 0 auto 50px;
    text-align: center;
    line-height: 33px;
    color:#fff;
}
.enjoymobileapp {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}
.enjoymobileapp i {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 65px;
    color: #fff;
    margin-bottom: 20px;
}
.enjoymobileapp a {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    cursor: default
}
.image-onabsolute {
    position: absolute;
    left: 10%;
    top: 0px;
}
.ioosdevelopments {
    position: relative
}
.ioosdevelopments h1, .androisApps h1, .windowsApp h1 {
    font-size: 40px;
    margin-bottom: 50px;
    color:#fff;
    font-family: 'Dosis', sans-serif;
}
.ioosdevelopments h1 {
    text-align: left
}
.ioosdevelopments ul li {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 50px;
    margin-bottom: 30px;
}
.ioosdevelopments ul li:before {
    content: "\f442";
    font-family: "Ionicons";
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 4px;
    color: #CD2026;
}
.ioosdevelopments.padding-50 {
    padding: 8% 0 6%;
    position: relative;
    overflow: hidden;
}
.ioosdevelopments ul li h3 {
    margin: 10px 0 20px;
    font-family: 'Dosis', sans-serif;
}
.androisApps {
    background-color: #1B2026;
}
.androisApps h1 {
    color: #fff
}
.androisApps p {
    color:#fff;
}
.windowsApp p {
    font-size: 16px;
    line-height: 30px;
    color: #666;
    margin-bottom: 15px;
}
.windowsApp.blackberry {
    background-color: #f0f0f0;
}
.androisApps h1 {
    margin-top: 39%
}
.windowsApp h1 {
    margin-top: 23%;
}
