<section class="foot-top">
          <div class="container">
              <div class="row">
                  <aside class="col-md-5">
                      <h2>Find us on</h2>
                      {% for footer in site.data.footer-section %}
                      <p>{{footer.address}}</p>
                    </aside>
                    <aside class="col-md-4">
                      <h2>&nbsp;</h2>
                      <p>{{footer.website}}<br />{{footer.mail}}<br />{{footer.call}}</p>
                    </aside>
                    {% endfor %}
                    
                    <aside class="col-md-3">
                        <ul class="social">
                          <li><a href="#"><img src="images/facebook.png" alt=""/></a></li>
                            <li><a href="#"><img src="images/twitter.png" alt=""/></a></li>
                          <li><a href="#"><img src="images/youtube.png" alt=""/></a></li>
                        </ul>
                    </aside>

                </div>
            </div>
      </section>