<section class="foot-top">
          <div class="container">
              <div class="row">
              {% for footer in site.data.footer-section %}
                  <aside class="col-md-5">
                      <h2>Find us on</h2>
                      
                      <p>{{footer.address}}</p>
                    </aside>
                    <aside class="col-md-4">
                      <h2>&nbsp;</h2>
                      <p>{{footer.website}}<br />
                      {{footer.mail}}<br />
                      {{footer.call}}</p>
                    </aside>
                    {% endfor %}
                    {% for header-top in site.data.header-top %}
                    <aside class="col-md-3">
                        <ul class="social">
                          <li><a href="{{header-top.facebook}}"><img src="{{site.baseurl}}/images/facebook.png" alt=""/></a></li>
                            <li><a href="{{header-top.twitter}}"><img src="{{site.baseurl}}/images/twitter.png" alt=""/></a></li>
                          <li><a href="{{header-top.youtube}}"><img src="{{site.baseurl}}/images/youtube.png" alt=""/></a></li>
                        </ul>
                    </aside>
                 {% endfor %}
                </div>
            </div>
      </section>