<section class="foot-bottom">
          <div class="container">
              <div class="row">
                  <aside class="col-md-12 text-center copyrights">Copyrights 2016 Prepoly Pipes. All rights Reserved.</aside>
                    <aside class="col-md-12">
                      <ul class="social-media">
                          <li><a href="{{header-top.facebook}}"><img src="{{site.baseurl}}/images/facebook-01.png" alt=""/></a></li>
                            <li><a href="{{header-top.twitter}}"><img src="{{site.baseurl}}/images/twitter-01.png" alt=""/></a></li>
                           <li><a href="{{header-top.youtube}}"><img src="{{site.baseurl}}/images/google-plus.png" alt=""/></a></li>
                          <li><a href="{{header-top.linkedin}}"><img src="{{site.baseurl}}/images/linkedin.png" alt=""/></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </section>