<section class="foot-top">
          <div class="container">
              <div class="row">
                  <aside class="col-md-5">
                      <h2>Find us on</h2>
                      <p><span>C.R.I. PUMPS PRIVATED LIMITED</span><br />480-481, Sathy Main Road, Kurumbapalayam,<br />SS Kulam Post, Coimbatore, PIN 641 107.</p>
                    </aside>
                    <aside class="col-md-4">
                      <h2>&nbsp;</h2>
                      <p>in.crigroup.com<br />corp@cripumps.com<br />TOLL FREE 1800 121 1205</p>
                    </aside>
                    <aside class="col-md-3">
                        <ul class="social">
                          <li><a href="#"><img src="images/facebook.png" alt=""/></a></li>
                            <li><a href="#"><img src="images/twitter.png" alt=""/></a></li>
                          <li><a href="#"><img src="images/youtube.png" alt=""/></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
      </section>