<section class="welcome-fluid">
        	<div class="container">
            	<div class="row">
                	<div class="col-md-12">
                    	<h1 class="text-center">Quality steel boat manufacture in Mangalore</h1>
                        <h6 class="text-center">We assure project delivery on time with great customer satisfaction</h6>
                        <h6 class="text-center">We are ready to build customized steel boats for your fishing business</h6>
                    </div>
                    <div class="col-md-12">
                   	  <div class="form-box">
                   	    <div class="row">
                       	  <aside class="col-md-6">
                                	<input type="text" class="text-box" placeholder="Enter your Name">
                                    <input type="text" class="text-box" placeholder="Enter your Email">
                                    <input type="text" class="text-box" placeholder="Enter your Phone">
                                </aside>
                                <aside class="col-md-6">
                               	  <textarea class="text-area" placeholder="Enter your Message"></textarea>
                                  <input type="button" class="btn" value="Submit">
                          	</aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>