      <section class="welcome-fluid">
          <div class="container">
           {% for form in site.data.form-section %}
              <div class="row">
                  <div class="col-md-12">
                      <h1 class="text-center">{{form.form-title}}</h1>
                        <h6 class="text-center">{{form.form-subline}}</h6>
                        
                    </div>
                    <div class="col-md-12">
                      <div class="form-box">
                      <form>
                        <div class="row">
                          <aside class="col-md-6">
                                  <input type="text" class="text-box" placeholder="Enter your Name">
                                    <input type="text" class="text-box" placeholder="Enter your Email">
                                    <input type="text" class="text-box" placeholder="Enter your Phone">
                                </aside>
                                <aside class="col-md-6">
                                  <textarea class="text-area" placeholder="Enter your Message"></textarea>
                                  <input type="button" class="btn" value="Submit">
                            </aside>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
           {% endfor %}
            </div>
        </section>