<section class="head-bottom">
        	<div class="container">
   	  	  	  <div class="row"> 
              {% for logo-menu-section in site.data.logo-menu-section.html %}
           			<div class="col-md-3"><a href="#">{{logo-menu-section.logotext}}</a></div>
                	<div class="col-md-9">
                   	  <ul class="float-right nav">
                        <li><a href="{{site.baseurl}}">Home</a></li>
                        <li><a href="{{site.baseurl}}" id="nav2">About Us</a></li>
                        <li><a href="{{site.baseurl}}" id="nav3">Products</a></li>
                        <li><a href="{{site.baseurl}}" id="nav4">Privacy</a></li>
                        <li><a href="{{site.baseurl}}" id="nav5">Blog</a></li>
                        <li><a href="{{site.baseurl}}" id="nav6">Contact Us</a></li>
                      </ul>
                    </div>
              
              </div> 	
            </div>
        </section>