
{% for product in site.data.product-section %}
<section class="our-products" id="nav3" style="background: url({{site.baseurl}}/images/{{product.product-background-image}}) no-repeat center center fixed;">
        	<div class="container">
            	<div class="row">

               
                	<aside class="col-md-12"><h1 class="text-center">{{product.product-heading}}</h1></aside>
                  
                	<aside class="col-md-4">
                    	<div class="product-item">
                       	  	<div class="img-fluid"><img src="{{site.baseurl}}/images/{{product.product-image-one}}"  alt=""/></div>
                          	<div class="subtitle">{{product.product-subtitle-one}}</div>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                      <div class="product-item">
                            <div class="img-fluid"><img src="{{site.baseurl}}/images/{{product.product-image-two}}"  alt=""/></div>
                            <div class="subtitle">{{product.product-subtitle-two}}</div>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                      <div class="product-item">
                            <div class="img-fluid"><img src="{{site.baseurl}}/images/{{product.product-image-three}}"  alt=""/></div>
                            <div class="subtitle">{{product.product-subtitle-three}}</div>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </aside>
                    
                  
                  	<aside class="col-12">
                    	<div class="navigation">
                        	<a href="#" class="prev"><img src="images/prev.png" alt=""/></a>
                        	<a href="#" class="next"><img src="images/next.png"  alt=""/></a>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
          {% endfor %}