   	<section class="our-products">
        	<div class="container">
            	<div class="row">

                 {% for product in site.data.product-section %}
                	<aside class="col-md-12"><h1 class="text-center">{{product.product-title}}</h1></aside>
                	<aside class="col-md-4">
                    	<div class="product-item">
                       	  	<div class="img-fluid"><img src="images/{{product.product-image}}"  alt=""/></div>
                          	<div class="subtitle">{{product.product-subtitle}}</div>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                    	<div class="product-item">
                       	  	<div class="img-fluid"><img src="images/{{product.product-image}}"  alt=""/></div>
                          	<div class="subtitle">{{product.product-subtitle}}</div>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                  </aside>
                    <aside class="col-md-4">
                    	<div class="product-item">
                       	  	<div class="img-fluid"><img src="images/{{product.product-image}}"  alt=""/></div>
                          	<div class="subtitle">{{product.product-subtitle}}</div>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </aside>
                    {% endfor %}
                  	<aside class="col-12">
                    	<div class="navigation">
                        	<a href="#" class="prev"><img src="images/prev.png" alt=""/></a>
                        	<a href="#" class="next"><img src="images/next.png"  alt=""/></a>
                        </div>
                    </aside>
                </div>
            </div>
        </section>