<section class="prepoly-pipes" id="nav2">
        	<div class="container">
            	<div class="row">
                 
                	<aside class="col-md-12">
                    	<h1 class="text-center">{{welcome.welcome-heading}}</h1>
                        <h6 class="text-center">{{welcome.welcome-subheading}}</h6>
                    </aside>
                   {% for welcome in site.data.welcome-section %}
                        
                	<aside class="col-md-3">
                    	<div class="icon text-center"><img src="images/{{welcome.welcome-image-one}}" alt=""/></div>
                    	<div class="subtitle text-center">{{welcome.welcome-title-one}}</div>
                    </aside>
                    <aside class="col-md-3">
                        <div class="icon text-center"><img src="images/{{welcome.welcome-image-two}}" alt=""/></div>
                        <div class="subtitle text-center">{{welcome.welcome-title-two}}</div>
                    </aside>
                    <aside class="col-md-3">
                        <div class="icon text-center"><img src="images/{{welcome.welcome-image-three}}" alt=""/></div>
                        <div class="subtitle text-center">{{welcome.welcome-title-three}}</div>
                    </aside>
                    <aside class="col-md-3">
                        <div class="icon text-center"><img src="images/{{welcome.welcome-image-four}}" alt=""/></div>
                        <div class="subtitle text-center">{{welcome.welcome-title-four}}</div>
                    </aside>

                    {% endfor %}
                </div>
            </div>
        </section>s