<section class="prepoly-pipes">
        	<div class="container">
            	<div class="row">
                	<aside class="col-md-12">
                    	<h1 class="text-center">Welcome to Prepoly Pipes</h1>
                        <h6 class="text-center">“Prepoly” is an exclusive brand of “Premier” PVC industry, Which meets “ISI” sstandard</h6>
                    </aside>
                	<aside class="col-md-3">
                    	<div class="icon text-center"><img src="images/01.png" alt=""/></div>
                    	<div class="subtitle text-center">Strict Quality Standards</div>
                    </aside>
                    <aside class="col-md-3">
                    	<div class="icon text-center"><img src="images/02.png" alt=""/></div>
                    	<div class="subtitle text-center">Best Service</div>
                    </aside>
                    <aside class="col-md-3">
                    	<div class="icon text-center"><img src="images/03.png" alt=""/></div>
                    	<div class="subtitle text-center">Reasonable Price</div>
                    </aside>
                    <aside class="col-md-3">
                    	<div class="icon text-center"><img src="images/04.png" alt=""/></div>
                    	<div class="subtitle text-center">Quick Support</div>
                    </aside>
                </div>
            </div>
        </section>