<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title>
<link rel="icon" href="{{site.baseurl}}/images/favicon.png" type="image/png">
{% seo %}
<meta name="description" content="">
<meta  name="keywords" content="">
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>a
<![endif]-->
<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/custom-styles.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/responsive.css">
</head>
<body>
<div class="">
  <header>
     {% include header-top.html %}

       {% include logo-menu-section.html %}
  </header>
    
   {{content}}

  <footer>
      {% include footer-section.html %}

       {% include footer-menu.html %} 
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="{{site.baseurl}}/js/popper.min.js"></script>
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
</body>
</html>