<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>a
<![endif]-->
<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/custom-styles.css">
</head>
<body>
<div class="">
	<header>
    	{% include header-top.html %}
         {% include logo-menu-section.html %}
    </header>
   {{content}}
	<footer>
    	<section class="foot-top">
        	<div class="container">
            	<div class="row">
                	<aside class="col-md-5">
                   	  <h2>Find us on</h2>
                      <p><span>C.R.I. PUMPS PRIVATED LIMITED</span><br />480-481, Sathy Main Road, Kurumbapalayam,<br />SS Kulam Post, Coimbatore, PIN 641 107.</p>
                    </aside>
                    <aside class="col-md-4">
                    	<h2>&nbsp;</h2>
                    	<p>in.crigroup.com<br />corp@cripumps.com<br />TOLL FREE 1800 121 1205</p>
                  	</aside>
                    <aside class="col-md-3">
                   	  	<ul class="social">
                       		<li><a href="#"><img src="{{site.baseurl}}/images/facebook.png" alt=""/></a></li>
                            <li><a href="#"><img src="{{site.baseurl}}/images/twitter.png" alt=""/></a></li>
                          <li><a href="#"><img src="{{site.baseurl}}/images/youtube.png" alt=""/></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
    	</section>
        <section class="foot-bottom">
        	<div class="container">
            	<div class="row">
                	<aside class="col-md-12 text-center copyrights">Copyrights 2016 Prepoly Pipes. All rights Reserved.</aside>
               	  	<aside class="col-md-12">
           	  	    	<ul class="social-media">
                       		<li><a href="#"><img src="{{site.baseurl}}/images/facebook-01.png" alt=""/></a></li>
                            <li><a href="#"><img src="{{site.baseurl}}/images/twitter-01.png" alt=""/></a></li>
                            <li><a href="#"><img src="{{site.baseurl}}/images/google-plus.png" alt=""/></a></li>
                      		<li><a href="#"><img src="{{site.baseurl}}/images/linkedin.png" alt=""/></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </section>
 	</footer>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="{{site.baseurl}}/js/popper.min.js"></script>
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
</body>
</html>